{% extends 'base.html' %}

{% block content %}


<form action="" method="POST" id="login_form">
    {% csrf_token %}
    <div class="login">
      <h1>Login</h1>
      <p>Please Enter Your username and password.</p>
      <hr>
      <label for="new_password">New Password : </label>
      <input type="password" name="new_password" required>
      <br>
      <label for="new_password_confirm">Confirm Password :</label>
      <input type="password" name="new_password_confirm" minlength="8" required>
      <hr>
      <button type="submit">Save change</button>
    </div>
    
  </form>
  
{% endblock content %}
