{% extends 'base.html' %}

{% block content %}


<form action="" method="POST" id="change_password_form">
  <a href="{% url 'home' %}"></a>
    {% csrf_token %}
    <div class="change_password">
      <h1>Add new password !!!</h1>
      <hr>
      <label for="new_password">New Password : </label>
      <input type="password" name="new_password" minlength="8" id="new_password" required>
      <br>
      <label for="new_password_confirm">Confirm Password :</label>
      <input type="password" name="new_password_confirm" id="new_password_confirm" minlength="8" required>
      <hr>
      <button type="submit">Save change</button>
    </div>
</form>  
{% endblock content %}
