{% extends 'base.html' %}

{% block content %}


<form action="" method="POST" id="changepassword">
{% csrf_token %}
<a href="{% url 'home' %}">Home</a>
<div class="change_password">
  <h1>Change password !!!</h1>
  <hr>
  <label >New Password : </label>
  <input type="password" name="new_password" minlength="8" id="password" required>
  <br>
  <label >Confirm Password :</label>
  <input type="password" name="new_password_confirm" id="passwordconfirm" minlength="8" required>
  <hr>
  <button type="submit">Save change</button>
</div>
</form>  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).on("submit",'#changepassword', function(e){
  e.preventDefault();

  $.ajax({
    type:"POST",
    url:"{% url 'changepassword' %}",
    data:{
      new_password:$('#password').val(),
      new_password_confirm:$('#passwordconfirm').val(),
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(response){
      if (response=='success')
        alert('Password Changed, now yoy can login with new password.')
      else if (response=='password_must_match')
        alert("Password didnt matched!!!")
      else if (response=='enter_valid_password')
        alert("Password must be in alpha numeric format.")
    },
    error: function(){
      alert('Something went wrong....')
    }
  })
})

</script>
{% endblock content %}
