{% extends 'base.html' %}

{% block content %}

<form action="" method="POST" id="forgot">
{% csrf_token %}
<div class="forgot_password">
    <h1>Forgot Password ??</h1>
    <hr>
    <label for="email">Email :</label>
    <input type="text" name="email" id="email" >
    <button type="submit">Submit</button>
</div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" la>
    $(document).on('submit','#forgot', function(e){
        e.preventDefault();

        $.ajax({
            type:"POST",
            url:"{% url 'forgotpassword' %}",
            data:{
                email:$('#email').val(),
                csrfmiddlewaretokken:$('input[name=csrfmiddlewaretokken]').val()
            },
            success: function(response){
            if (response == 'success')
                alert('Please check your email');
            else if (response=='enter_valid_email')
                alert("Please ente a valid email");
            else if (response=='enter_email')
                alert('Please enter an email');
            },
        });
    });
</script>

{% endblock content %}