{% extends 'base.html' %}

{% block content %}

<form action="" method="POST" id="changepassword">
{% csrf_token %}
<a href="{% url 'home' %}">Home</a>
<div class="change_password">
  <h1>Reset new password !!!</h1>
  <hr>
  <label >New Password : </label>
  <input type="password" name="new_password" minlength="8" id="password" required>
  <br>
  <label >Confirm Password :</label>
  <input type="password" name="new_password_confirm" id="passwordconfirm" minlength="8" required>
  <hr>
  <button type="submit">Save change</button>
</div>
</form>  

{% endblock content %}